/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

/* a:focus,
a:active {
  outline: none;
} */

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /* rgb(176, 176, 176) */
  background: #fffbf3;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
p {
  font-size: 24px;
}
body {
  font-weight: 400;
  font-size: 14px;
}

.__container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}
/* ===================NAVIGATION===================== */
.header {
  position: fixed;
  width: 100%;
  background: #343434;
  left: 0;
  top: 0;
  z-index: 55;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 75px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  width: 50px;
}

.header__menu {
  margin: 0px 0px 0px 135px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 50px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  position: relative;
  display: flex;
  font-size: 16.5px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu__item:not(:nth-child(4)) {
  margin: 0px 25px 0px 0px;
}
.menu__item {
  display: inline-block;
}
.menu__link {
  position: relative;
  color: #fffbf3;
  line-height: 24px;
  opacity: 0.75;
  transition: 0.3s;
}
.menu__link a:hover {
  transform: scale(1.3);
}
.menu__link:hover {
  z-index: 10;
  transform: scale(1.1);
  opacity: 1;
}
nav ul ul {
  display: none;
  text-align: center;
  position: absolute;
  top: 100%;
  margin: 0 0 -30px 0;
  margin-top: 1px;
  background: #343434;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
  display: inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
  min-width: 93.6px;
  float: none;
  display: list-item;
  position: relative;
}
/* стилизуем ссылки */
nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

/* изменяем цвет фона при наведении курсора */
.dropmenu_item:hover {
  background: #222222;
}
.drop-menu__link {
  transition: 1s;
}
.drop-menu__link:hover {
  z-index: 10;
  transform: scale(1.1);
  opacity: 1;
}
/* ==================MAIN===================== */

.main-block {
  box-shadow: 0px 10px 17px 0px rgb(204, 177, 165);
  padding-bottom: 30px;
}
.main-block_container {
  margin: 70px auto 0 auto;
}

.main-block__header {
  text-align: center;
}
.main-block__title {
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
  color: rgb(21, 21, 21);
}
.main-block__info {
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
}

.info__education {
  width: 500px;
  background: #ecddc1cc;
  padding: 20px;
  margin-right: 30px;
  text-align: center;
  transition: 0.5s;
  border: none;
  box-shadow: 0px 0px 2px 0.4px #fdf5e6;
  border-radius: 7px;
}
.info__education:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 2px 0.5px rgb(197, 202, 206);
}
.info__info {
  width: 1060px;
  padding: 20px;
  margin-top: 40px;
  border: 3px;
  border-style: solid dashed solid dashed;
  border-color: #ebdbc1 rgba(197, 197, 197, 0.422) #ebdbc1
    rgba(197, 197, 197, 0.422);
  text-align: center;
}
.main-info {
  font-size: 24px;
}
.info__work {
  background-color: none;
  width: 500px;
  border: 2px solid #ecddc1cc;
  padding: 20px;
  margin-left: 30px;
  text-align: center;
  box-shadow: 0px 0px 2px 0.4px #fdf5e6;
  border-radius: 7px;
  transition: 0.5s;
}
.info__work:hover {
  box-shadow: 0px 0px 2px 0.5px rgb(197, 202, 206);
  transform: scale(1.05);
}
.work-info {
  font-size: 24px;
}

.title {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  font-size: 35px;
}
.education-title {
  padding-left: 10px;
}
.work-title {
  padding-left: 10px;
}

.extention-block_info {
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
}

@media (max-width: 900px) {
  .info__education {
    margin-right: 20px;
  }
  .info__work {
    margin-left: 20px;
  }
}

@media (max-width: 751px) {
  .main-block__info {
    flex-wrap: wrap;
  }
  .info__education {
    width: 70%;
    margin: 0 0 20px 0;
  }
  .info__work {
    width: 70%;
    margin-left: 0px;
  }
}

@media (max-width: 630px) {
  .main-block__info {
    flex-wrap: wrap;
  }
  .info__education {
    width: 100%;
    margin-right: 0px;
  }
  .info__work {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
/* ================Partfolio===================== */
.partfolio {
  padding-top: 30px;
  background-color: #fdf5e6;
  height: 50%;
  padding-bottom: 30px;
}
.partfolio__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
.works__item {
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 400px;
}
@media (max-width: 650px) {
  .work {
    margin: 0 auto;
  }
  .works__item {
    width: 100%;
    height: 600px;
    margin: 0 auto;
  }
}
.works__photo {
  position: absolute;
  z-index: 1;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@media (max-width: 640px) {
  .works__photo {
    width: 650px;
  }
}

.works__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(236, 221, 193, 0.908);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  transition: 0.6s;
}

.works__content:hover {
  opacity: 1;
}
.works__title {
  color: #98e2d5;
  font-size: 25px;
  font-weight: 600;
}
.works__text {
  text-align: center;
  padding: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
/* ================Skills=============== */
.skills {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.skills-container {
}
.skills-title {
}
.title {
  color: rgb(24, 24, 34);
}

.skills-container {
  width: 780px;
}
.skills-diagram {
}
.skill-diagram__value {
  display: flex;
}
.value__numeric {
  margin: 0 70px;
}
.value__numeric:first-child {
  margin: 0 70px;
  margin-left: 100px;
}
.numeric {
  font-size: 18px;
}
.skills-diagram__container {
  border: 4px solid black;
  border-width: 2px 0 0 3px;
}
.diagram-info {
  height: 300px;
}
.diagram-info__container {
  margin: 10px 0;
  padding: 20px 0;
  background-color: rgb(132, 168, 25);
}
.diagram-info__container:last-child {
  margin: 10px 0;
  padding: 20px 0 20px 0;
}
.color1 {
  width: 500px;
  background-color: #e2c74c;
}
.diagram-info__text {
  display: block;
  margin-left: 15px;
  font-size: 23px;
}

/* #98CDBD */
.color2 {
  width: 600px;
  background-color: #98cdbd;
}
.color3 {
  width: 570px;
  background-color: #d69b4f;
}
.color4 {
  width: 700px;
}

/* ---------------FOOTER----------------- */

.footer {
  background: #ecddc1cc;
}

.footer__body {
  padding: 20px 0;
}
.footer-top {
}
.footer-top__column {
}
.column-footer {
}
.column-footer_about {
  display: flex;
}

.column-footer_social {
  flex: 0 1 50%;
}
@media (max-width: 670px) {
  .column-footer_social {
    flex-wrap: wrap;
  }
}
.social-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.social-column_text {
  margin: 20px 0px;
}
.social-column_title {
  font-size: 27px;
}
.link-social_item {
  margin: 10px 0;
}
.link-social_item:first-child {
  margin: -5px 0 0 0;
}
.link-social_link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.footer-bottom {
}
.icons-messanger {
  margin: -7px 0 0 0;
}
